/* Container for the hamburger icon */
.hamburger-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

/* Base styles for the three lines of the hamburger */
.hamburger-icon {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.hamburger-icon span {
    display: block;
    height: 3px;
    background-color: black;
    border-radius: 2px;
    transition: all 0.4s ease-in-out;
}

/* Line 1, 2, 3 positioning */
.hamburger-icon span:nth-child(1) {
    width: 100%;
}

.hamburger-icon span:nth-child(2) {
    width: 75%;
}

.hamburger-icon span:nth-child(3) {
    width: 50%;
}

/* Animation for when the menu is open */
.hamburger-icon.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 8px;
    position: absolute;
    width: 100%;
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
    /* Middle line disappears */
}

.hamburger-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 8px;
    position: absolute;
    width: 100%;
}

.mobile_menu {
    display: none;
    flex-direction: column;
    background: rgba(12, 12, 12, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    transition: all 0.3s ease;
    border-radius: 5px;
    top: 50px;
    left: -62%;
    padding: 10px;
    /* transform: translateX(20%); */
    width: 98vw;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.menu-open {
    display: flex;
}

ul>li {
    text-align: center;
    font-size: var(--fs-20);
    font-weight: 500;
}

ul>li:hover {
    background: rgba(12, 12, 12, 0.46);
}

ul>li>a>hr {
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

ul>li:hover>a>hr {
    opacity: 0.8;
    visibility: visible;
    transform: scale(0.5);
    border: 1px solid black;
}

ul>li.active>a>hr {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    border: 1px solid black;
    border-radius: 10px;
}