.today_section {
    padding: 0px 5%;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.today_top {
    position: relative;
    margin-bottom: 20px;
}

.today_red {
    width: 20px;
    height: 40px;
    background: var(--secondary2);
    border-radius: 6px;
}

.today_top h2 {
    font-size: var(--fs-16);
    font-weight: 600;
    color: var(--secondary2);
}

.today_header {
    position: relative;
    align-items: center;
    justify-content: space-between !important;
    height: 100px;
}

.today_header .left {
    align-items: center;
    gap: 20px;
}

.today_header .right {
    align-items: center;
    gap: 20px;
}

.left>.title {
    font-size: var(--fs-36);
    font-weight: 600;
    color: var(--text2);
}

.day-count,
.hour-count,
.minute-count,
.seconds-count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1px 5px;
}

.stylable-semicolon {
    width: 4px;
    height: 16px;
    color: var(--btn-hover);
    font-size: var(--fs-20);
    font-weight: 600;
}

.day-count .title,
.hour-count .title,
.minute-count .title,
.seconds-count .title {
    font-size: var(--fs-12);
    font-weight: 500;
    color: var(--text2);
}

.day-count .count,
.hour-count .count,
.minute-count .count,
.seconds-count .count {
    font-size: var(--fs-32);
    font-weight: 700;
    color: var(--text2);
}

.right .icons {
    width: 46px;
    height: 46px;
    background: var(--secondary);
    position: relative;
    display: flex;
    border-radius: 50%;
}

.right .icons:hover {
    background: var(--elipse);
}

.icons .icon {
    width: 16px;
    height: 14px;
}

/* Product Item */
.today_product {
    overflow: auto;
    /* Allow scroll */
    scrollbar-width: none;
    /* Firefox hides scrollbar */
    -ms-overflow-style: none;
    /* IE 10+ */

    scroll-behavior: auto;
}

.today_product::-webkit-scrollbar {
    display: none;
}

.product_item {
    display: flex;
    flex-direction: column;
    min-height: 350px !important;
    min-width: 270px !important;
    margin-right: 20px;
    scroll-snap-align: center;
}

.product_image {
    min-width: 270px !important;
    height: 250px !important;
    position: relative;
    background: var(--secondary);
    border-radius: 7px;
    padding: 30px;
}

.product_image img {
    width: 100%;
    height: 100% !important;
    object-fit: contain;
    object-position: center;
}

.product_image .discount,
.product_image .product_icons,
.product_image .product_btn {
    position: absolute;
}

.product_image .discount {
    padding: 5px 7px;
    top: 5px;
    left: 5px;
    background: var(--secondary2);
    border-radius: 7px;
    font-size: var(--fs-12);
    font-weight: 500;
    color: var(--text);
}

.product_image .product_icons {
    top: 5px;
    right: 5px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.product_icons .icon-heart,
.product_icons .icon-eye {
    display: flex;
    flex-direction: column;
    width: 34px;
    height: 34px;
    background: var(--primary);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.product_icons .icon-heart .fa,
.product_icons .icon-eye .fa {
    width: 16px;
    height: 14px;
}

.product_icons .icon-heart:hover,
.product_icons .icon-eye:hover {
    color: var(--secondary2);
}

.product_icons .icon-heart:hover .fa,
.product_icons .icon-eye:hover .fa{
    /* background: var(--secondary2); */
}

.product_image .product_btn {
    display: none;
    bottom: 0px;
    left: 0px;
    height: 40px;
    width: 100% !important;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 7px 7px;
    background: var(--button);
    color: var(--primary);
    font-size: var(--fs-16);
    font-weight: 500;
}

.product_image:hover .product_btn,
.product_image:focus .product_btn {
    display: flex;
}

.product_detail {}

.product_detail .product_name {
    font-size: var(--fs-16);
    font-weight: 600;
    color: var(--button);
}

.product_detail .product_price {
    display: flex;
    flex-direction: row;
    font-size: var(--fs-16);
    font-weight: 500;
    font-family: 'poppins', sans-serif;
    gap: 5px;
    padding: 2px;
    align-items: center;
    justify-content: start;
}

.product_price .dscount_price {
    color: var(--secondary2) !important;
}

.product_price .actual_price {
    color: var(--text1);
    text-decoration: line-through;
}

.rating {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    align-items: center;
    justify-content: start;
}

.rating_icon {
    gap: 4px !important;
    align-items: center;
}

.rating_icon .fa-star {
    color: var(--rating);
    width: 20px;
    height: 20px;
    /* background: var(--elipse); */
}

.half-star-container {
    position: relative;
    width: auto;
}

.half-fill {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: var(--rating);
    z-index: 1;
}

.half-star-container .fa-star {
    position: relative;
    z-index: 0;
}

.today_section .today_btn {
    background-color: var(--button2) !important;
    position: relative;
    width: 235px;
    min-height: 56px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

.today_btn:hover{
    background-color: var(--btn-hover) !important;
}

.today_btn>span {
    font-size: var(--fs-16);
    font-weight: 500;
    color: var(--text);
}

.today_section hr {
    background: var(--primary1);
    height: 1px;
    opacity: .3;
    margin: 30px 0px;
    border: 1px solid var(--primary1);
}